.history-item{
	max-width: calc(1200px - 80px);
	min-width: 260px;
	width: 80vw;
	height: 120px;
	background-color: #fff;
	border-radius:3em;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	/* justify-content: center; */
	padding-left: 120px;
	font-size: 23px;
	gap: 80px;
	position: relative;
	cursor: pointer;
	overflow-y: hidden;
	text-align: center;
	/* transition: .3s; */
}
.history-item.admin{
	border-radius: 1em 1em 1em 1em;	


}

.hr-medium.history{
	width: 100%;
}
.cart-item.history{
	padding: 0px 120px;
	margin: 0;
	width: 100%;
}

.history-item__composition{
	margin: 45px 0px;
	max-height: 60px;
 	overflow: hidden;
 	text-overflow: ellipsis;
}

.history-item.open{
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 0;
	/* width: calc(1250px - 250px); */
	width: 50vw;
	padding: 30px 120px;
	gap: 0;
	animation: openItem .6s ease;
	overflow: hidden;
	position: relative;
}


.history-item-title{
	display: flex;
	flex-direction: row;
	align-items: space-between;
	justify-content: space-between;
	width: 100%;
}

.history-item-title:first-child{
	margin-bottom: -10px;
}

.history-item-title.user{
	justify-content: space-around;
}

.history-item-title.center{
	justify-content: center;
}

.repeat{
	background-color: #222;
	height: 100%;
	width: 150px;
	position: absolute;
	right: 0;
	border-radius: 0 3em 3em 0;
	color:white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	cursor: pointer;
	transition: .3s;
	font-size: 22px;
}
.repeat.cancel{
	background-color: #f54f4f;
}
.repeat.admin-cancel{
	height: 45%;
	bottom: 0;
	background-color: #f54f4f;
	border-radius: 0;
}
.repeat.admin-accept{
	height: 55%;
	top: 0;
	background-color: #222;
	border-radius: 0;
}

.btn-repeat.cancel{
	background-color: #f54f4f;
	border-radius: 0;
}

.repeat:hover{
	color:bisque;
	font-size: 23px;
}

.h-hr{
	width: 1px;
	height: 40%;
	background-color: black;
}
.hr-medium{
	width: 1000px;
	height: 2px;
	background-color: black;
	margin: 30px 0;
}
.hr-small{
	width: 750px;
	height: 2px;
	background-color: black;
	margin: 30px 0;
}

.price-box{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.btn-repeat{
	background-color: black;
	color:white;
	width: 250px;
	height: 55px;
	transition: 0.3s;
	font-size: 23px;
}

.btn-repeat:hover{
	color:bisque;
	font-size: 22px;
}
.icon_status{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 5%;
	border-radius: 0 0 0 3em;
}

.icon_status.admin{
	border-radius: 1em 0em 0em 1em;
}
.icon_status.new{
	background-color: #F49543;
}
.icon_status.pending{
	background-color: #39b5fd;
}
.icon_status.canceled{
	background-color: #f54f4f;
}
.icon_status.ended{
	background-color: #2F2F2F;
}
.header-links-black{
	margin: 0 60px;
}

.history-item__name{
	font-size: 24px;
	margin-top: 15px;
}

@media (max-width: 1340px){
	.history-item{
		gap: 60px;
		padding-left: 100px;
	}
}

@media (max-width: 1230px){
	.history-item{
		gap: 40px;
		padding-left: 80px;
	}
	.cart-item.history>img{
		width: 70%;
		height: 70%;
	}
	.history-item__composition{
		margin: 30px 0px;
	}
}

@media (max-width: 1180px){
	.history-item{
		gap: 20px;
		padding-left: 100px;
	}
	.repeat{
		width: 120px;
	}
}
@media (max-width: 1040px){
	.history-item{
		gap: 20px;
		padding-left: 100px;
		
	}
	.header-links-black{
		margin: 0 30px;
	}
	.cart-item.history>img{
		width: 60%;
		height: 60%;
	}
	.cart-item.history{
		font-size: 20px;
	}
	.history-item__composition{
		margin: 30px 0px;
	}
	.hr-medium.history.lower{
		margin-top: -30px;
	}
	
}
@media (max-width: 960px){
	.history-item{
		gap: 20px;
		padding-left: 80px;
		font-size: 18px;
		height: 100px;
	}
	.header-links-black{
		margin: 0 15px;
	}
	.icon_status{
		width: 50px;
	}
	.history-item__composition{
		display: none;
	}
	.cart-item-text{
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	.btn-repeat.history{
		height: 45px;
		width: 200px;
	}
}
@media (max-width: 880px){
	.cart-item.history>img{
		width: 70%;
		height: 70%;
	}
	.cart-item.history{
		height: 180px;
	}
	.history-item__name{
		font-size: 21px;
	}
	.price-box{
		font-size: 16px;
	}
	.cart-item-text{
		gap: 15px;
	}
	.btn-repeat.history{
		height: 30px;
		width: 150px;
		font-size: 15px;
	}
}
@media (max-width: 860px){
	.history-item{
		gap: 50px;
		/* padding-left: 80px; */
		font-size: 18px;
		height: 100px;
		/* padding: ; */
	}

	.history-item.open{
		padding: 30px 80px;
	}
	.header-links-black{
		margin: 0 15px;
	}
	.history-order__fullPrice{
		display: none;
	}
	.repeat{
		width: 100px;
	}
	.icon_status{
		width: 40px;
	}
}
@media (max-width: 770px){
	.history-item{
		gap: 30px;
	}
	.history-item__name{
		font-size: 18px;
	}
}

@media (max-width: 700px){
	.history-item{
		gap: 50px;
		width: 70%;
	}
	.history-order__date{
		display: none;
	}
	.history-item__fullPrice{
		display: none;
	}
	.item-price{
		justify-content: center;
	}
}

@media (max-width: 640px){
	.history-item{
		width: 70%;
		gap: 25px;
	}
	.header-links-black{
		margin:0;
	}
	.cart-item-text{
		margin-left: 10px;
	}
	.history-item.open{
		font-size: 15px;
		padding: 30px 50px;
	}
}

@media (max-width: 530px){
	.history-item{
		width: 70%;
		gap: 10px;
		padding-left: 50px;
	}
	.repeat{
		width: 80px;
		font-size: 17px;
	}
	.cart-item.history>img{
		width: 60%;
		height: 60%;
	}
	.history-item__name{
		font-size: 16px;
	}
}
@media (max-width: 445px){
	.history-item{
		width: 70%;
		height: 70px;
		gap: 0;
		padding-left: 50px;
		font-size: 14px;
	}
	.repeat{
		width: 80px;
		font-size: 17px;
	}
	.header-links-black{
		font-size: 14px;
	}
	.cart-item.history{
		flex-direction: column;
		height: 100%;
	}
}
/* @media (max-width: 540px){
	.history-item{
		gap: 20px;
		padding-left: 20px;
	}
} */

